In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import random
import re

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [2]:
train_data = pd.read_csv('~/Documents/Datos/DataSets/TP2/train_featured.csv')
test_data = pd.read_csv('~/Documents/Datos/DataSets/TP2/test_featured.csv')
train_data.head()

,id_original,keyword_original,location_original,text_original,target_label,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,links_count,clean_text,text_length,mean_word_length,vowels_count,short_words_count,stopwords_count,words_count
0,1,NaN,NaN,our deeds are the reason of this earthquake ma...,1,1,#earthquake,NaN,1,0,0,0,deeds reason earthquake may allah forgive us,68,4.31,25,7,6,13
1,4,NaN,NaN,forest fire near la ronge sask canada,1,1,NaN,NaN,0,0,0,0,forest fire near la ronge sask canada,37,4.43,13,1,0,7
2,5,NaN,NaN,all residents asked to shelter in place are be...,1,3,NaN,NaN,0,0,0,0,residents asked shelter place notified officer...,130,4.95,45,9,11,22
3,6,NaN,NaN,people receive wildfires evacuation orders in ...,1,2,#wildfires,NaN,1,0,5,0,people receive wildfires evacuation orders cal...,56,7.14,24,1,1,7
4,7,NaN,NaN,just got sent this photo from ruby alaska as s...,1,2,#alaska #wildfires,NaN,2,0,0,0,got sent photo ruby alaska smoke wildfires pou...,85,4.38,25,3,7,16

In [3]:
#from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
#from sklearn.pipeline import Pipeline
#from sklearn.linear_model import SGDClassifier
#from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text  import TfidfVectorizer

count_vect = CountVectorizer(stop_words='english')
X_train_counts = count_vect.fit_transform(train_data['clean_text'])
X_train_counts.shape

tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

text_clf = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                     ('clf', MultinomialNB()),
                    ])

text_clf = text_clf.fit(train.clean_text, train.target_label)

predicted = text_clf.predict(test.clean_text)
np.mean(predicted == test.target_label)

In [ ]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(train_data.clean_text)
tf_idf = pd.DataFrame(data = X.toarray(), columns=vectorizer.get_feature_names())
tf_idf

In [ ]:
tf_idf_featured = pd.concat([train_data, tf_idf], axis=1)
tf_idf_featured

In [ ]:
tf_idf_featured.drop(['index', 'id_original', 'text_original', 'clean_text', 'keyword_original', 'location_original', 'hashtags', 'labels'], axis=1, inplace=True)

In [ ]:
train, test = train_test_split(tf_idf_featured, test_size=0.2)

In [ ]:
clf = MultinomialNB()
clf.fit(train.drop(['target_label'], axis=1), train.target_label)

In [ ]:
predicted = clf.predict(test.drop(['target_label'], axis=1))
np.mean(predicted == test.target_label)

In [4]:
test_data.head()

,id_original,keyword_original,location_original,text_original,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,links_count,clean_text,text_length,mean_word_length,vowels_count,short_words_count,stopwords_count,words_count
0,0,NaN,NaN,just happened terrible car crash,0,NaN,NaN,0,0,0,0,happened terrible car crash,34,4.83,10,2,2,6
1,2,NaN,NaN,heard about earthquake is different cities sta...,3,#earthquake,NaN,1,0,0,0,heard earthquake different cities stay safe ev...,61,5.89,24,1,2,9
2,3,NaN,NaN,there is forest fire at spot pond geese are f...,2,NaN,NaN,0,0,0,0,forest fire spot pond geese fleeing across str...,94,4.00,31,7,9,19
3,9,NaN,NaN,apocalypse lighting spokane wildfires,3,#spokane #wildfires,NaN,2,0,0,0,apocalypse lighting spokane wildfires,37,8.50,12,0,0,4
4,11,NaN,NaN,typhoon soudelor kills in china and taiwan,0,NaN,NaN,0,0,2,0,typhoon soudelor kills china taiwan,42,5.14,14,2,2,7

In [5]:
train_data.tail()

,id_original,keyword_original,location_original,text_original,target_label,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,links_count,clean_text,text_length,mean_word_length,vowels_count,short_words_count,stopwords_count,words_count
7608,10869,NaN,NaN,two giant cranes holding bridge collapse into...,1,5,NaN,NaN,0,0,1,1,two giant cranes holding bridge collapse nearb...,60,5.10,19,2,2,10
7609,10870,NaN,NaN,aria ahrary thetawniest the out of control wil...,1,5,NaN,@aria_ahrary @thetawniest,0,2,1,0,control wild fires california even northern pa...,121,4.81,39,8,9,21
7610,10871,NaN,NaN,utc km of volcano hawaii,1,11,NaN,NaN,0,0,9,1,utc km volcano hawaii,28,3.14,9,5,3,7
7611,10872,NaN,NaN,police investigating after an bike collided w...,1,5,NaN,NaN,0,0,0,0,police investigating ebike collided car little...,135,5.18,49,7,5,22
7612,10873,NaN,NaN,the latest more homes razed by northern califo...,1,7,NaN,NaN,0,0,2,1,latest homes razed northern california wildfir...,68,5.27,21,3,3,11

In [6]:
train_test_data = train_data.append(test_data, ignore_index=True)
train_test_data['clean_text'].fillna(" ", inplace=True)

In [7]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(train_test_data.clean_text)
tf_idf = pd.DataFrame(data = X.toarray(), columns=vectorizer.get_feature_names())
tf_idf

,aa,aaa,aaaaaa,aaaand,aaalll,aaarrrgghhh,aabn,aaemiddleaged,aal,aan,...,zotar,zouis,zouma,zrnf,zss,zuma,zumiez,zurich,zx,zzz
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10871,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10872,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10873,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10874,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10875,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [10]:
tf_idf_featured = pd.concat([train_test_data, tf_idf], axis=1)
tf_idf_featured

MemoryError:

In [ ]:
tf_idf_featured.drop(['index', 'id_original', 'text_original', 'clean_text', 'keyword_original', 'location_original', 'hashtags', 'labels'], axis=1, inplace=True)

In [11]:
train = tf_idf_featured[:7613]
test = tf_idf_featured[7613:]

In [13]:
train

,id_original,keyword_original,location_original,text_original,target_label,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,links_count,clean_text,text_length,mean_word_length,vowels_count,short_words_count,stopwords_count,words_count
0,1,NaN,NaN,our deeds are the reason of this earthquake ma...,1.00,1,#earthquake,NaN,1,0,0,0,deeds reason earthquake may allah forgive us,68,4.31,25,7,6,13
1,4,NaN,NaN,forest fire near la ronge sask canada,1.00,1,NaN,NaN,0,0,0,0,forest fire near la ronge sask canada,37,4.43,13,1,0,7
2,5,NaN,NaN,all residents asked to shelter in place are be...,1.00,3,NaN,NaN,0,0,0,0,residents asked shelter place notified officer...,130,4.95,45,9,11,22
3,6,NaN,NaN,people receive wildfires evacuation orders in ...,1.00,2,#wildfires,NaN,1,0,5,0,people receive wildfires evacuation orders cal...,56,7.14,24,1,1,7
4,7,NaN,NaN,just got sent this photo from ruby alaska as s...,1.00,2,#alaska #wildfires,NaN,2,0,0,0,got sent photo ruby alaska smoke wildfires pou...,85,4.38,25,3,7,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,two giant cranes holding bridge collapse into...,1.00,5,NaN,NaN,0,0,1,1,two giant cranes holding bridge collapse nearb...,60,5.10,19,2,2,10
7609,10870,NaN,NaN,aria ahrary thetawniest the out of control wil...,1.00,5,NaN,@aria_ahrary @thetawniest,0,2,1,0,control wild fires california even northern pa...,121,4.81,39,8,9,21
7610,10871,NaN,NaN,utc km of volcano hawaii,1.00,11,NaN,NaN,0,0,9,1,utc km volcano hawaii,28,3.14,9,5,3,7
7611,10872,NaN,NaN,police investigating after an bike collided w...,1.00,5,NaN,NaN,0,0,0,0,police investigating ebike collided car little...,135,5.18,49,7,5,22
7612,10873,NaN,NaN,the latest more homes razed by northern califo...,1.00,7,NaN,NaN,0,0,2,1,latest homes razed northern california wildfir...,68,5.27,21,3,3,11

In [14]:
test

,id_original,keyword_original,location_original,text_original,target_label,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,links_count,clean_text,text_length,mean_word_length,vowels_count,short_words_count,stopwords_count,words_count
7613,0,NaN,NaN,just happened terrible car crash,nan,0,NaN,NaN,0,0,0,0,happened terrible car crash,34,4.83,10,2,2,6
7614,2,NaN,NaN,heard about earthquake is different cities sta...,nan,3,#earthquake,NaN,1,0,0,0,heard earthquake different cities stay safe ev...,61,5.89,24,1,2,9
7615,3,NaN,NaN,there is forest fire at spot pond geese are f...,nan,2,NaN,NaN,0,0,0,0,forest fire spot pond geese fleeing across str...,94,4.00,31,7,9,19
7616,9,NaN,NaN,apocalypse lighting spokane wildfires,nan,3,#spokane #wildfires,NaN,2,0,0,0,apocalypse lighting spokane wildfires,37,8.50,12,0,0,4
7617,11,NaN,NaN,typhoon soudelor kills in china and taiwan,nan,0,NaN,NaN,0,0,2,0,typhoon soudelor kills china taiwan,42,5.14,14,2,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10871,10861,NaN,NaN,earthquake safety los angeles uo safety fasten...,nan,3,NaN,NaN,0,0,2,0,earthquake safety los angeles uo safety fasten...,54,5.88,18,2,0,8
10872,10865,NaN,NaN,storm in ri worse than last hurricane my city ...,nan,5,NaN,NaN,0,0,6,0,storm ri worse last hurricane city others hard...,130,4.24,36,9,6,25
10873,10868,NaN,NaN,green line derailment in chicago,nan,5,NaN,NaN,0,0,0,1,green line derailment chicago,32,5.60,12,1,1,5
10874,10874,NaN,NaN,meg issues hazardous weather outlook hwo,nan,7,NaN,NaN,0,0,3,1,meg issues hazardous weather outlook hwo,40,5.83,16,2,0,6
10875,10875,NaN,NaN,cityofcalgary has activated its municipal emer...,nan,3,#cityofcalgary #yycstorm,NaN,2,0,0,0,cityofcalgary activated municipal emergency pl...,65,7.25,19,2,2,8

In [ ]:
clf = MultinomialNB()
clf.fit(train.drop(['target_label'], axis=1), train.target_label)

In [ ]:
predicted = clf.predict(test.drop(['target_label'], axis=1))